<template>
  <div>
    <div v-if="cardCreating">
      Creating new Note
    </div>
    <div v-else>
      <CardView v-if="cardId > -1" :card="card"/>
    </div>
  </div>
</template>
<script>
import CardView from '../components/CardView.vue'
export default {
  name: 'Card',
  components: {
    CardView
  },
  data () {
    return {
      createdCard: false,
      cardCreating: false,
      cardId: -1,
    }
  },
  created () {
    if(this.$route)
    {
      let id = this.$route.params.id == 'new' ? 0 : this.$route.params.id;
      if (id == 0) {
        this.$store.dispatch('newCard');
      }
      this.cardId = id;
    }
  },
  computed: {
    card () {
       let t = this.$store.getters.getCard(this.cardId);
       console.log(t);
       return t;
    },
  }

}


</script>
