<template>
  <div class="">
    <CardListView />
  </div>
</template>

<script>
// @ is an alias to /src
import CardListView from '@/components/CardListView.vue'

export default {
  name: 'Home',
  components: {
    CardListView
  }
}
</script>
