<template>
    <div>
        <div class="card-item" v-if="newCardButton" >
            <h1> + New note </h1>
        </div>
        <div class="card-item" v-else
            v-on:mousedown="touchBegin"  
            v-on:mouseup="touchEnd"
        >
            <div class="card-item-menu" v-if="showMenu" @mousedown.capture="deleteCard">
                Remove X
            </div>
            <h1 class="card-item__title" v-if="card">{{card.title}}</h1>
            <div>
                <ul class="card-item__ul" v-if="card">
                    <li v-for="item in card.todos" :key="item.id" v-once :class="{
                        'card-item__li_complete': item.done
                    }">
                        {{item.text}} 
                    </li>
                    <li>...</li>
                </ul>
                
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CardItem',
    props:['card'],
    data () {
        return {
            newCardButton: false,
            showMenu: false,
            pressed: false,
            pressedId: 0,
            timeForReaction: 500,
            list: [],
        }
    },
    mounted () {
        if (this.$attrs.new && this.$attrs.new == "true") {
            this.newCardButton = true;
        } else {
            console.log(this.card);
        }
    },
    methods: {
        touchBegin () {
            let self = this;
            this.pressed = true;
            let pressedId = Math.random();
            this.pressedId = pressedId;
            this.showMenu = false;
            setTimeout (() =>{
                if (pressedId == self.pressedId && self.pressed) {
                    self.showMenu = true;
                }
            }, this.timeForReaction);
            console.log("timePressed")
        },
        touchEnd () {
            this.pressed = false;
            this.pressedId = 0;
            if (!this.showMenu) {
                this.$router.push({ name: 'Card', params: { id: this.card.id }})
            }
            console.log("timePressed")
        },
        deleteCard () {
            console.log("deleteCard")
            let self = this;
            this.$eventBus.$emit('deleteCard', { id: self.card.id, cb: (answer) => {
                if (answer) {
                    self.$store.dispatch('deleteCard', {id: self.card.id});
                }  else {
                    showMenu: false;
                }
            }})

        }
    },
    
}
</script>

<style>

</style>