<template>
    <div class="card-view">
        <div @keydown="clickAnywere">
            <div class="">
                    <button @click="undo" :disabled="card.changes == 0"> Undo</button>
                    <button @click="redo" :disabled="card.undos == 0"> Redo</button>
                </div>
            <div class="card-view-title"> 
                <h1>
                    <span v-if="!showInput"  @click="editTitle"> {{title}}  </span>
                    <input v-else v-model="titleLocal" @change="saveTitle" v-focusAndSelect/>
                </h1>
                
            </div>
            <ul class="card-view__ul">
                <li><input  placeholder="New todo" v-model="newTodoValue" @change="newTodo" /></li>
                <li v-for="(item, index) in list" :key="index" >
                    <span v-if="editIndex != index"> 
                        <input type="checkbox" :checked="item.done" @change="checkTodo(item)" /> <span @click="edit(index)">{{item.text}} </span>
                    </span>
                    <div v-else>
                        <button @click.stop="save">v</button>
                        <input v-model="editText" v-focusAndSelect @keydown.enter="save(item)"/> 
                        <button @click.stop="cancel">x</button>
                    </div>
                </li>
            </ul>
            
            <button @click="saveCard">Save</button>
            <button @click="cancelCard">Cancel</button>
        </div>    
    </div>


</template>

<script>
import {focusAndSelect} from '../directives/focusAndSelect';
export default {
    name: 'CardView',
    directives: {focusAndSelect},
    props: ['card'],
    data () {
        return {
            showInput:false,
            editIndex: -1,
            editText: '',
            newTodoValue: '',

            titleLocal: '',
        }
    }, 
    methods: {
        editTitle () {
            this.titleLocal = this.title;
            this.showInput = true;
        },
        saveTitle() {
            console.log(this.title);
            this.showInput = false;
            this.$store.dispatch('changeTitle', {id: this.card.id, modification: {value: this.titleLocal}})
        },
        edit (index) {
            if (this.editIndex > -1) return;
            console.log('edit');
            this.editIndex = index;
            this.editText = this.list[index].text;
            document.addEventListener('keydown',this.clickAnywere);
        },
        save (item) {
            if (this.editIndex == -1) return;
            document.removeEventListener('keydown',this.clickAnywere);
            console.log('save');
            this.list[this.editIndex].text = this.editText;
            this.$store.dispatch('changeTextTodo', {id: this.card.id, modification: {
                value: this.editText,
                todoId: item.todoId
            }});

            this.editIndex = -1;
        },
        cancel () {
            console.log('cancel');
            if (this.editIndex != -1) {
                this.editIndex = -1;
                this.editText = '';
            }},
        clickAnywere(evt) {
            if (evt.keyCode === 27) {
                console.log("clickAnywere");
                this.cancel();
            }
        },
        newTodo() {
            this.list.push({text: this.newTodoValue, done: false})
            this.$store.dispatch('addTodo', {id: this.card.id, modification: {value: this.newTodoValue}});
            this.newTodoValue = '';
        },
        checkTodo(todo) {
            todo.done = !todo.done;   
            this.$store.dispatch('checkTodo', {id: this.card.id, modification: {
                value: todo.done,
                todoId: todo.todoId
            }}); 
        },

        undo () {
            this.$store.dispatch('undoTodo', {id: this.card.id});
        },
        redo () {
            this.$store.dispatch('redoTodo', {id: this.card.id});
        },

        saveCard () {
            console.log('saveCard');
            this.$store.dispatch('saveCard', {id: this.card.id});
            this.$router.replace({path: '/'} );
        },
        cancelCard () {
            console.log('cancelCard');
            let self = this;
            this.$eventBus.$emit('cancelEditCard', { id: self.card.id, cb: (answer) => {
                if (answer) {
                    self.$store.dispatch('cancelEditCard', {id: self.card.id});
                    self.$router.replace({path: '/'} );
                }  else {
                    showMenu: false;
                }
            }})
            
        },
        keyHandler (evt) {
            if (evt.ctrlKey && evt.key == 'z') {
                this.undo();
            } else if (evt.ctrlKey && evt.key == 'y') {
                this.redo();
            } else if (evt.ctrlKey && evt.shiftKey && evt.key == 'y') {
                this.redo();
            }
        }
    },
    mounted () {
        console.log('CardView mounted',this.card)
        document.addEventListener('keydown', this.keyHandler, false);
    },
    computed: {
        title () {
            return this.card.title;
        },
        list () {
            return this.card.todos;
        },
    },
    beforeDestroy () {
        document.removeEventListener('keydown',this.clickAnywere);
        document.removeEventListener('keydown', this.keyHandler);
    }

}
</script>

<style>
.card-view-title {
    text-decoration: underline;
    margin: 1rem 0;
}

</style>