<template>
    <div>
        <h1> Notes </h1>
        <div class="card-list">
            
            <CardItem :card=card v-for="card in getCards" :key="card.id" />   
            <router-link :to="{ name: 'Card', params: { id: 'new' }}" style="text-decoration: none; color:inherit"> 
               <CardItem new="true" />   
            </router-link>
        </div>
    </div>
</template>
<script>
import CardItem from "./CardItem.vue";

import { mapGetters, mapActions } from "vuex";
export default {
    name: 'CardListView',
    components: {
        CardItem
    },
    computed: {
        ...mapGetters([
            'getCards'
        ])
    }

}
</script>

<style>

</style>