<template>
    <div class="modal-view">
        
        <div class="modal-view__panel">
            <div class="modal-view__header">
                <h1> {{title}} </h1>
            </div>
            <div class="modal-view__content">
                <p class="modal-view__content-p">
                    {{msg}}
                </p>
            </div>
            <div class="modal-view__footer">
                <button class="modal-view__button modal-view__button_primary" type="button" @click="okHandler">Ок</button>
                <button class="modal-view__button modal-view__button_cancel" type="button" @click="cancelHandler">Отмена</button>
            </div>
            <div class="modal-view__close" @click="cancelHandler"> X </div>
        </div>
        
        <div class="modal-view__overlay"></div>
    </div>
</template>
<script>
    export default {
        props: ['info'],
        data () {
            return {
                title: '',
                msg: '',
            }
        },
        mounted () {
            if (this.info && this.info.title) {
                this.title = this.info.title;
            }
            if (this.info && this.info.msg) {
                this.msg = this.info.msg;
            }
            this.toggleScroll(true);
        },  
        methods : {
            toggleScroll(val) {
                console.log('visible', val);
                if (val) {
                    document.body.style.overflowY = 'hidden';

                } else {
                    document.body.style.overflowY = '';
                }
            }, 
            okHandler () {
                console.log('ok');
                this.info.cb && this.info.cb(true);
                this.cancelHandler();
            },
            cancelHandler () {
                this.$emit('onCancel');
            },
        },
        beforeDestroy () {
            this.toggleScroll(false);
        }
    }
</script>
