<template>
  <div id="app">
    <router-view />
    <ModalView v-if="visible" :visible="visible" :info="info" @onCancel="visible = false"/>
  </div>
</template>

<script> 
  import ModalView from './components/ModalView.vue'

  export default {
    components: {ModalView},
    data () {
      return {
        visible: false,
        info: {},
      }
    },
    mounted () {
      this.$eventBus.$on('deleteCard', this.deleteCard)
      this.$eventBus.$on('cancelEditCard', this.cancelEditCard)
    },
    methods: {
      cancelEditCard (info) {
        let msg = "Do you want to exit without saving?";
        info.msg = msg;
        this.showModal(info)
      },
      deleteCard (info) {
        let msg = "Do you want to delete a note?";
        info.msg = msg;
        this.showModal(info)
      },
      showModal (info) {
        console.log(info)
        this.info = info;
        this.visible = true;
      },
    }
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


.card-item {
    border: 1px solid grey;
    padding: 2rem;
    margin: 2rem;
    flex-grow:0;
    box-shadow:5px 7px 10px rgb(169, 167, 167);
    width: 10rem;
    height: 15rem;

}

.card-item:hover {
    box-shadow:5px 7px 10px rgb(66, 37, 37);
}

.card-list {
   display: flex;
   flex-direction: row;
   flex-flow: wrap;
}

.card-item-menu {
    position:relative;
    margin-top: -4rem;
    margin-bottom: 4rem;
    cursor: pointer;
}

.card-item__title {
  font-size: 1rem;
  
}

.card-item__ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
.card-item__li_complete {
  text-decoration: line-through;
}


.card-view__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.modal-view__panel {
    position: fixed;
    width: 33%;
    height: 25%;
    top: 37%;
    left:33%;
    background: white;
    z-index:100
}


.modal-view__content-p {
    position: absolute;
    left:0;
    right:0;
    margin-top: 50%;
    bottom: 50%
}
.modal-view__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0.1rem solid gray;
    padding: 0.25rem
}

.modal-view__header {
    padding: 1rem 0;
}

.modal-view__footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right:0;
}

.modal-view__overlay {
    position: fixed;
    top:0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}


</style>